[supabase]
url = "https://bgibneddphdxdbvahagd.supabase.co"
key = "COLLE_ICI_TA_CLE_SUPABASE_ANON_OU_SERVICE_ROLE"

[cookie]
name        = "stock_analyzer"
key         = "ABCDEFGHIJKLMOPQRSTUVWXYZ123456789"
expiry_days = 30

[credentials.usernames.matteo]
email    = "moulinetmatteo@gmail.com"
name     = "Matteo"
password = "$2b$12$RrczQDnDpk.atqei9BzXzekRlmqlqZnBzsq9j2B57XQXopEXaoTZ."
